#svg-elem {
    outline: 1px solid rgba(255, 255, 255, 0.1);
}

.name-label, .id-label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name-label {
    font-size: 18px;
}

.id-label {
    font-size: 16px;
    font-weight: 700;
}