.info-container {
    position: absolute;
    right: 0px;

    width: 500px;
    height: 100%;

    background-color: gray;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}