@keyframes infoAnim {
    from {
        transform: translateX(360px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.info-container {
    position: absolute;
    right: 0px;
    top: 0px;

    width: 500px;
    height: 100%;

    background-color: #131414;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 35px;
    padding-top: 80px;

    filter: drop-shadow(5px 5px 10px black);

    animation-name: infoAnim;
    animation-duration: 1s;
}

.info-container > * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;

    color: #d3dfd7;
}

.info-container > h1 {
    text-align: center;
    line-height: 1.4;
}

.info-container > button {
    position: absolute;
    top: 15px;
    left: 15px;

    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.loading-text {
    height: 85%;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    
    color: #d3dfd7;
}